<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>


    <div>
      <label>이미지</label>
      <input type="file" id="img" />
    </div>
<div>
  <label>카테고리</label>
  <select id="mood">
    <option>DAY</option>
    <option>NIGHT</option>
    <option>OLD</option>
    <option>NEW</option>
  </select>
</div>
<div>
  <label>사이즈</label>
  <select id="size">
    <option>S</option>
    <option>L</option>
    <option>BackGround</option>
  </select>
</div>
<button>Create</button>
    </div>
    
    <script defer>

      const img = document.querySelector("#img");
      const mode = document.querySelector('#mood')
      const size = document.querySelector('#size')
      const button = document.querySelector('button')
      button.addEventListener('click',create)
      img.addEventListener("change", addImg);
      

      async function addImg() {
        const formData = new FormData();
        await formData.append("src", img.files[0]);
        const res = await fetch("/", {
          method: "POST",
          body: formData,
        });
        const data = await res.json();
        const imgURL = data.imgURL;
        window.localStorage.setItem("imgURL", imgURL);
      }


      async function create() {
        const url = window.localStorage.getItem("imgURL");
        const req = {
          mood: mood.value,
          size: size.value,
          imgURL: url
        };
        const res = await fetch("/create", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(req),
        });
        const data = await res.json();
        console.log("post응답", data);
      }
    </script>
  </body>
</html>
