<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>


    <div>
      <label>메인</label>
      <input type="file" id="img" />
    </div>
    <div>
      <label>썸네일</label>
      <input type="file" id="img2" />
    </div>
<div>
  <label>무드</label>
  <select id="mood">
    <option>DAY</option>
    <option>NIGHT</option>
    <option>OLD</option>
    <option>NEW</option>
  </select>
</div>

<button>Create</button>
    </div>
    
    <script defer>

      const img = document.querySelector("#img");
      const img2 = document.querySelector("#img2");
      const mode = document.querySelector('#mood')

      const button = document.querySelector('button')
      button.addEventListener('click',create)
      img.addEventListener("change", addMainImg);
      img2.addEventListener("change", addSubImg);
      

      async function addMainImg() {
        const formData = new FormData();
        await formData.append("src", img.files[0]);
        const res = await fetch("/", {
          method: "POST",
          body: formData,
        });
        const data = await res.json();
        const mainURL = data.mainURL;
        window.localStorage.setItem("mainURL", mainURL);
      }

      async function addSubImg() {
        const formData = new FormData();
        await formData.append("src", img2.files[0]);
        const res = await fetch("/img", {
          method: "POST",
          body: formData,
        });
        const data = await res.json();
        const subURL = data.subURL;
        window.localStorage.setItem("subURL", subURL);
      }




      async function create() {
        const mainURL = window.localStorage.getItem("mainURL");
        const subURL = window.localStorage.getItem("subURL");

        const req = {
          mood: mood.value,
          mainURL,
          subURL
        };
        const res = await fetch("/create", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(req),
        });
        const data = await res.json();
        console.log("post응답", data);
      }
    </script>
  </body>
</html>
